@charset "UTF-8"; 

@import url(https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap);
@font-face {

    font-family: "Logo-Font";
    src: url("../fonts/bubblegum-sans-regular.otf");
}




body {

    font-family: Arial, Helvetica, sans-serif;
    background-color: #dddddd;
    color: rgba(0,0,0,1);
}

.right {

    text-align: right;
}

a {
    color: #606060;
    text-decoration: none;
}

a:hover {

    text-decoration: underline;
}

/*///////////////////HEADER///////////////////*/

header#header img#icone{

    position: absolute;
    left: 780px;
    top: 70px;
}

header#header {

    border-bottom: 1px #606060 solid;
    height: 150px;
    background: url("/curso-html5-pacote01/projeto-glass-html5/View/Images/glass-logo-peq.jpg") no-repeat 0px 80px;
}

header#header h1{

    font-family: "Logo-Font",Arial, Helvetica, sans-serif;
    font-size: 30pt;
    color: #606060;
    text-shadow: 1px 1px 1.2px rgba(0,0,0,0.5);
    padding: 0px;
    margin-bottom: 0px;
}

header#header h2{

    font-family: 'Titillium Web',Arial sans-serif;
    font-size: 15pt;
    color: #888888;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
    padding: 0px;
    margin-top: 0px;
}

/*////////////////////////////////////////////*/

div#interface {

    background-color: white;
    width: 900px;
    margin: -15px auto 0px auto; 
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
    padding: 10px;
}





p{
    text-align: justify;
    text-indent: 50px;
}


/*////////////////Style for Image Whit Legend////////////////*/

figure.image-whith-legend {

    border: 8px solid whitesmoke;
    box-shadow: 1px 1px 4px black;
    position: relative;
}

figure.image-whith-legend img {

    width: 100%;
    height: 100%;

}

figure.image-whith-legend figcaption{

    opacity: 0;
    position: absolute;
    top: 0px;
    background-color: rgba(0,0,0,0.4);
    color: white;
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
    transition: opacity 1s;
}

/*dispara açao ao passar o mause por cima do figcaption*/

figure.image-whith-legend:hover figcaption{

    opacity: 1;
}

/*//////////////// Menu ////////////////*/

nav#menu{

    display: block;
}

nav#menu ul{

    list-style: none;
    text-transform: uppercase;
    position: absolute;
    top: -15px;
    left: 380px;
}

nav#menu li{
    
    display: inline-block;
    background-color: #dddddd;
    padding: 10px;
    margin: 2px;
    transition: background-color 1s;
}

nav#menu li:hover {

    background-color: #606060;
}

nav#menu h1{

    display: none; /*esconde*/
    
}

nav#menu a { /*link*/

    color: black;
    text-decoration: none;

}

nav#menu a:hover{

    color: white;
}

/*//////////////// Section ////////////////*/

section#body {

    display: block;
    width: 500px;
    float: left;
    border-right: 1px solid #606060;
    padding-right: 20px;
}

/*//////////////// article-header ////////////////*/

header#article-header h1{

    font-family: "Logo-Font", sans-serif;
    font-size: 20pt;
    color: #606060;
    margin-top: 0px;
}


header#article-header h2#h2{
    
    font-size: 13pt;
    color: #cecece;
    background-color: white;
    margin: 0px;
}


header#article-header h3{

    font-size: 12px;
    color: #606060;
    
}

/*//////////////// Article ////////////////*/

article#main-news h2{

    font-size: 13pt;
    color: #606060;
    background-color: #dddddd;
    padding: 5px 0px 5px 10px;
    margin: 10px 0px 10px 0px;
}


/*//////////////// Aside ////////////////*/

aside#side {

    display: block;
    width: 350px;
    float: right;
    background-color:  #dddddd;
    padding: 10px;
    margin-top: 10px;
    box-shadow: 2px 2px 2px rgba(0,0,0,.5);
}

aside#side h1{

    font-family: "Logo-Font", Arial, Helvetica, sans-serif;
    font-size: 20pt;
    color: #606060;
    margin-top: 0px;
}

aside#side h2{

    background-color: #606060;
    font-size: 13pt;
    color: white;
    padding: 5px;
}

/*//////////////// Footer ////////////////*/

footer#footer {

    clear: both;
    border-top: 1px solid #606060;
}

footer#footer a{

    text-decoration: none;
    font-family: "Titillium Web", Arial, Helvetica, sans-serif;
    color: black;
}

footer#footer p{

    text-align: center;
}

/*//////////////// Table ////////////////*/

table#specification-table {

    border: 1px solid #606060;
    border-spacing: 0px;
    margin-left: auto;
    margin-right: auto;
}

table#specification-table td {

    border: 1px solid #606060;
    padding: 10px;
    vertical-align: middle;
}

table#specification-table caption{

    color:  #888888;
    font-size: 13pt;
    font-weight: bolder;
}

table#specification-table caption span{

    display: block;
    float: right;
    color: black;
    font-size: 8pt;
    margin-top: 10px;
}

table#specification-table td.left-column{

    color: white;
    background-color: #606060;
    text-align: right;
    vertical-align: top;
    font-weight: bold;
}

table#specification-table tb.rigth-column{

    background-color: #cecece;
}