@charset "UTF-8";

form {

    margin: auto;
}

input, textarea {

    font-family: sans-serif;
    font-weight: normal;
    font-size: 13pt;
    background-color: rgba(255, 255, 255, 0.8);
}

input:hover, textarea:hover{

    background-color: #dddddd;
}

legend {

    color: #888888;
    font-weight: bold;
    font-size: 13pt;
    font-family: sans-serif;
}

fieldset {

    border-color: #cecece;
    margin: 20px;
}

/*fieldset#gender {

    width: 200px;
}*/

fieldset#user {

    background: url("/curso-html5-pacote01/projeto-glass-html5/View/Images/icone-contato.png") no-repeat 95% 95%;
}

fieldset#address {

    background: url("/curso-html5-pacote01/projeto-glass-html5/View/Images/icone-endereco.png") no-repeat 95% 95%;
}

fieldset#citys {

    background: url("/curso-html5-pacote01/projeto-glass-html5/View/Images/icone-contato.png") no-repeat 95% 95%;
}

fieldset#message {

    background: url("/curso-html5-pacote01/projeto-glass-html5/View/Images/icone-mensagem.png") no-repeat 95% 95%;
}

fieldset#order {

    background: url("/curso-html5-pacote01/projeto-glass-html5/View/Images/icone-pagamento.png") no-repeat 95% 95%;
}