<!DOCTYPE html>

<html lang="pt-br">

    <head>
       
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
      
        <title>Tudo Sobre Google Glass</title>

        <link rel = "stylesheet" href="/curso-html5-pacote01/projeto-glass-html5/View/Style/css/DefaultStyle.css">
        <link rel="stylesheet" href="/curso-html5-pacote01/projeto-glass-html5/View/Style/css/form.css">

        <script src="/curso-html5-pacote01/projeto-glass-html5/Script/PageNavigation.js">

        </script> 

    </head>

    <body onload="setDefaultPageIcon('/curso-html5-pacote01/projeto-glass-html5/View/Images/contato.png')">


        <div id="interface">

         <header id="header">

                <hgrou>

                    <h1> Google Glass </h1>
                    
                    <h2> A revolução do Google está chegando </h2>

                </hgrou>

                <img id="icon" src="/curso-html5-pacote01/projeto-glass-html5/View/Images/contato.png">


                <nav id="menu">
                    <h1>Menu Principal</h1>
                        <ul type="square">
                            <li onmouseover="changeIcon('/curso-html5-pacote01/projeto-glass-html5/View/Images/home.png')" onmouseout="changeIconToDefault()"><a href="/curso-html5-pacote01/projeto-glass-html5/View/HTML/index.html"> Home </a></li>
                            <li onmouseover="changeIcon('/curso-html5-pacote01/projeto-glass-html5/View/Images/especificacoes.png')" onmouseout="changeIconToDefault()"><a href="/curso-html5-pacote01/projeto-glass-html5/View/HTML/specs.html">Especificações</a></li>
                            <li onmouseover="changeIcon('/curso-html5-pacote01/projeto-glass-html5/View/Images/fotos.png')" onmouseout="changeIconToDefault()"><a href="/curso-html5-pacote01/projeto-glass-html5/View/HTML/fotos.html">Fotos</a></li>
                            <li onmouseover="changeIcon('/curso-html5-pacote01/projeto-glass-html5/View/Images/multimidia.png')" onmouseout="changeIconToDefault()"><a href="/curso-html5-pacote01/projeto-glass-html5/View/HTML/multimidia.html">Multimídia</a></li>
                            <li onmouseover="changeIcon('/curso-html5-pacote01/projeto-glass-html5/View/Images/contato.png')" onmouseout="changeIconToDefault()"><a href="fale-conosco.html">Fale conosco</a></li>
                        <ul> 
                </nav>
            </header>

            <form>

                <fieldset id="user">
                    <legend></legend>

                    <p></p>
                    <p></p>
                    <p></p>

                    <fieldset id="gender">
                        <legend></legend>

                    </fieldset>

                    <p></p>
    
                </fieldset>

                <fieldset id="address">
                    <legend></legend>
    
                </fieldset>

                <fieldset id="message">
                    <legend></legend>
    
                </fieldset>

                <fieldset id="order">
                    <legend></legend>
    
                </fieldset>

            </form>

            

Fale Conosco > Contato
Formulário de Contato
por Gustavo Guanabara
Atualizado em 01/Maio/2013

Identificação do Usuário
    Nome:
    Senha:
    E-mail:
    Sexo:
        - Masculino
        - Feminino
    Data de Nascimento:

Endereço do Usuário
    Logradouro:
    Número:
    Estado:
    Cidade:

Mensagem do Usuário
    Grau de Urgência:
    Mensagem:

Quero um Google Glass
    Gostaria de adquirir um Google Glass quando disponível
    Cor:
    Quantidade:
    Preço Total: R$


[BOTÃO ENVIAR]

<footer id="footer">
    <p>
       &copy; Copyright 2020 - by Samuel Ricardo <br/>
      
      <a href="https://github.com/Samuel-Ricardo" target="_blank"> GitHub </a>
       |
      <a href="https://www.instagram.com/apenas_alguem.exe/" target="_blank"> Instagram </a>
       |
      <a href="https://www.linkedin.com/in/samuel-ricardo-cabral/" target="_blank"> LinkedIn </a>
      
    </p>
   </footer>    
</div>
</body>
</html>