<!DOCTYPE html>

<html lang="pt-br">

    <head>
       
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
      
        <title>Tudo Sobre Google Glass</title>

        <link rel = "stylesheet" href="/curso-html5-pacote01/projeto-glass-html5/View/Style/css/DefaultStyle.css">
        <link rel="stylesheet" href="/curso-html5-pacote01/projeto-glass-html5/View/Style/css/form.css">

        <script src="/curso-html5-pacote01/projeto-glass-html5/Script/PageNavigation.js">

        </script> 

    </head>

    <body onload="setDefaultPageIcon('/curso-html5-pacote01/projeto-glass-html5/View/Images/contato.png')">


        <div id="interface">

         <header id="header">

                <hgrou>

                    <h1> Google Glass </h1>
                    
                    <h2> A revolução do Google está chegando </h2>

                </hgrou>

                <img id="icon" src="/curso-html5-pacote01/projeto-glass-html5/View/Images/contato.png">


                <nav id="menu">
                    <h1>Menu Principal</h1>
                        <ul type="square">
                            <li onmouseover="changeIcon('/curso-html5-pacote01/projeto-glass-html5/View/Images/home.png')" onmouseout="changeIconToDefault()"><a href="/curso-html5-pacote01/projeto-glass-html5/View/HTML/index.html"> Home </a></li>
                            <li onmouseover="changeIcon('/curso-html5-pacote01/projeto-glass-html5/View/Images/especificacoes.png')" onmouseout="changeIconToDefault()"><a href="/curso-html5-pacote01/projeto-glass-html5/View/HTML/specs.html">Especificações</a></li>
                            <li onmouseover="changeIcon('/curso-html5-pacote01/projeto-glass-html5/View/Images/fotos.png')" onmouseout="changeIconToDefault()"><a href="/curso-html5-pacote01/projeto-glass-html5/View/HTML/fotos.html">Fotos</a></li>
                            <li onmouseover="changeIcon('/curso-html5-pacote01/projeto-glass-html5/View/Images/multimidia.png')" onmouseout="changeIconToDefault()"><a href="/curso-html5-pacote01/projeto-glass-html5/View/HTML/multimidia.html">Multimídia</a></li>
                            <li onmouseover="changeIcon('/curso-html5-pacote01/projeto-glass-html5/View/Images/contato.png')" onmouseout="changeIconToDefault()"><a href="fale-conosco.html">Fale conosco</a></li>
                        <ul> 
                </nav>
            </header>

            <header id="article-header">
                <hgroup>
                    <h3> Fale Conosco > Contato </h3>
                    <h1> Formulário de Contato </h1>
                    <h2 id="h2"> por Samuel Ricardo </h2>
                    <h3 class="right"> Atualizado em 01/Maio/2013 </h3>
                </hgroup>    
            </header>

            <form method="POST" id="form" action="mailto:samuelricardoofficial@gmail.com">

                <fieldset id="user">
                    <legend>Identificação do Usuário</legend>

                    <p>Nome: <input type="text" name="txtName" id="name" size="20" maxlength="30" placeholder="Nome Completo"> </p>
                    <p>Senha: <input type="password" name="pasName" id="password" size="11" maxlength="10" placeholder="10 digitos"> </p>
                    <p>E-mail: <input type="email" name="txtEmail" id="email"></p>

                    <fieldset id="gender">
                        <legend>Sexo:</legend>

                        <input type="radio" name="radio" id="man"> <label for="man">Masculino</label> <br/>
                        <input type="radio" name="radio" id="girl"> <label for="girl">Feminino</label>

                    </fieldset>

                    <p>Data de Nascimento: <input type="date" name="datePicker" id="date"> </p>
    
                </fieldset>

                <fieldset id="address">
                    <legend>Endereço do Usuário</legend>
    
                    <p>Logradouro: <input type="text" name="txtAddress" id="address" placeholder="Rua, Av, ..."> </p>

                    <p>Número: <input type="number" name="number" id="houseNumber" min="0" max="9999999999999"> </p>

                    <p>Estado:</p>
                    <select name="select" id="state">

                        <optgroup label="Regiao Nordeste">

                            <option value="PE" selected>Pernambuco</option>
                            <option value="BA">Bahia</option>

                        </optgroup>

                        <optgroup label="Regiao Sudeste">

                            <option value="RJ">Rio de Janeiro</option>
                            <option value="SP">Sao Paulo</option>

                        </optgroup>

                    </select> 
                    
                    Cidade:

                </fieldset>

                <fieldset id="message">
                    <legend></legend>
    
                </fieldset>

                <fieldset id="order">
                    <legend></legend>
    
                </fieldset>

            </form>

Mensagem do Usuário
    Grau de Urgência:
    Mensagem:

Quero um Google Glass
    Gostaria de adquirir um Google Glass quando disponível
    Cor:
    Quantidade:
    Preço Total: R$


[BOTÃO ENVIAR]

<footer id="footer">
    <p>
       &copy; Copyright 2020 - by Samuel Ricardo <br/>
      
      <a href="https://github.com/Samuel-Ricardo" target="_blank"> GitHub </a>
       |
      <a href="https://www.instagram.com/apenas_alguem.exe/" target="_blank"> Instagram </a>
       |
      <a href="https://www.linkedin.com/in/samuel-ricardo-cabral/" target="_blank"> LinkedIn </a>
      
    </p>
   </footer>    
</div>
</body>
</html>