<!DOCTYPE html>

<html lang="pt-br">

    <head>
       
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
      
        <title>Tudo Sobre Google Glass</title>

        <link rel = "stylesheet" href="/curso-html5-pacote01/projeto-glass-html5/View/Style/css/DefaultStyle.css">

        <script src="/curso-html5-pacote01/projeto-glass-html5/Script/PageNavigation.js">

        </script> 

    </head>

    <body onload="setDefaultPageIcon('/curso-html5-pacote01/projeto-glass-html5/View/Images/especificacoes.png')">


        <div id="interface">

         <header id="header">

                <hgrou>

                    <h1> Google Glass </h1>
                    
                    <h2> A revolução do Google está chegando </h2>

                </hgrou>

                <img id="icon" src="/curso-html5-pacote01/projeto-glass-html5/View/Images/especificacoes.png">


                <nav id="menu">
                    <h1>Menu Principal</h1>
                        <ul type="square">
                            <li onmouseover="changeIcon('/curso-html5-pacote01/projeto-glass-html5/View/Images/home.png')" onmouseout="changeIconToDefault()"><a href="/curso-html5-pacote01/projeto-glass-html5/View/HTML/index.html"> Home </a></li>
                            <li onmouseover="changeIcon('/curso-html5-pacote01/projeto-glass-html5/View/Images/especificacoes.png')" onmouseout="changeIconToDefault()"><a href="/curso-html5-pacote01/projeto-glass-html5/View/HTML/specs.html">Especificações</a></li>
                            <li onmouseover="changeIcon('/curso-html5-pacote01/projeto-glass-html5/View/Images/fotos.png')" onmouseout="changeIconToDefault()"><a href="/curso-html5-pacote01/projeto-glass-html5/View/HTML/fotos.html">Fotos</a></li>
                            <li onmouseover="changeIcon('/curso-html5-pacote01/projeto-glass-html5/View/Images/multimidia.png')" onmouseout="changeIconToDefault()"><a href="/curso-html5-pacote01/projeto-glass-html5/View/HTML/multimidia.html">Multimídia</a></li>
                            <li onmouseover="changeIcon('/curso-html5-pacote01/projeto-glass-html5/View/Images/contato.png')" onmouseout="changeIconToDefault()"><a href="fale-conosco.html">Fale conosco</a></li>
                        <ul> 
                </nav>
            </header>

Glass > Multimídia
Sons e Vídeos
por Gustavo Guanabara
Atualizado em 01/Maio/2013


Áudio e Vídeo

[AQUI ENTRA UM VÍDEO]
[AQUI ENTRA UM ÁUDIO]

<footer id="footer">
    <p>
       &copy; Copyright 2020 - by Samuel Ricardo <br/>
      
      <a href="https://github.com/Samuel-Ricardo" target="_blank"> GitHub </a>
       |
      <a href="https://www.instagram.com/apenas_alguem.exe/" target="_blank"> Instagram </a>
       |
      <a href="https://www.linkedin.com/in/samuel-ricardo-cabral/" target="_blank"> LinkedIn </a>
      
    </p>
   </footer>    
</div>
</body>
</html>